@import './prism.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 8, 9, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
